/* ----------------- */
/* Custom properties */
/* ----------------- */
:root{
  /* colors */
   --clr-dark: 230 35% 7%;
   --clr-light: 231 77% 90%;
   --clr-white: 0 0% 100%;

   /* font-size */
}

/* ----------------- */
/* Reset             */
/* ----------------- */

/* Box Sizing */
*,
*::before,
*::after{
    box-sizing: border-box;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ----------------- */
/* Utility clasess   */
/* ----------------- */

.flex{
  display: flex;
  gap: var(--gap, 1rem);
}

.grid{
  display: grid;
  gap: var(--gap, 1rem);
}

.container{
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2em;
}

.sr-only{
  position: absolute;
  width: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.box{
  background-color: lightblue;
  padding: 3rem;
}

/* ----------------- */
/* Color             */
/* ----------------- */

.bg-dark{ background-color: hsl(var(--clr-dark))}
.bg-accent{ background-color: hsl(var(--clr-light))}
.bg-white{ background-color: hsl(var(--clr-white))}

.text-dark{ color: hsl(var(--clr-dark))}
.text-accent{ color: hsl(var(--clr-light))}
.text-white{ color: hsl(var(--clr-white))}